/* .pca.raw-data-table thead {
    display: block;
}

.pca.raw-data-table tbody {
    display: block;
    overflow-y: auto;
    height: 350px;
} */

.pca.raw-data-table {
    height: 350px;
    width: 600px;
    overflow-y: scroll;
    margin: 10px;
}

.pca.raw-data-table table{
    width: 100%;
    border-collapse: collapse;
}

.pca.raw-data-table th {
    position: sticky; 
    top: 0;
    background: white;
    box-shadow: inset 0 -1px 0 #9fb0ce, inset 0 1px 0 #9fb0ce;
}

.pca.raw-data-table th, td {
    text-align: center;
    border: 1px solid #9fb0ce;
    padding: 5px;
}

.pca.raw-data-chart {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
}

.pca.raw-data-chart .chart-config {
    display: flex;
    justify-content: center;
}

.pca.raw-data-chart .axis-selector {
    display: flex;
    flex-direction: column;
    margin: 0px 16px;
}

.pca.raw-data-chart .axis-selector button {
    border: none;
    outline: none;
    padding: 10px;
    margin: 1px;
    background-color: #8D9DBA;
    font-family: 'Roboto', monospace;
    font-weight: bold;
    color: #f2f2f2;
}

.pca.raw-data-chart .axis-selector button:hover {
    background-color: #617394;
}

.pca.raw-data-chart .axis-selector button.selected {
    background-color: #394D73;
}

.pca.raw-data-chart .raw-data-scatter {
    position: relative;
    width: 70%;
    float: right;
}
